*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

.top-half {
  background:linear-gradient(white,#333);
  height: 50vh;
  display: flex;
}

.bottom-half {
  background: linear-gradient(#333, white);
  height: 50vh;
}

.about-me {
  width: 60%;
}

.card-container {
width: 40%;
}

.card {
  display: grid;
  place-items: center;
}